name: Publish to Comfy Registry

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Comfy-Org/publish-action@main
        with:
          token: ${{ secrets.REGISTRY_ACCESS_TOKEN }}
